
.xs-border-right {
    border-right: 1px solid #ccc;
}
.xs-border-left {
    border-left: 1px solid #ccc;
}

/* Extra Small Devices, Phones */ 
@media only screen and (min-width : 480px) {
    .sm-border-right {
        border-right: 1px solid #ccc;
    }
    .sm-border-left {
        border-left: 1px solid #ccc;
    }
}

/* Small Devices, Tablets */
@media only screen and (min-width : 768px) {
    .md-border-right {
        border-right: 1px solid #ccc;
    }
    .md-border-left {
        border-left: 1px solid #ccc;
    }
}

/* Medium Devices, Desktops */
@media only screen and (min-width : 992px) {
    .lg-border-right {
        border-right: 1px solid #ccc;
    }
    .lg-border-left {
        border-left: 1px solid #ccc;
    }
}

/* Large Devices, Wide Screens */
@media only screen and (min-width : 1200px) {
    .xl-border-right {
        border-right: 1px solid #ccc;
    }
    .xl-border-left {
        border-left: 1px solid #ccc;
    }
}